.colorButtonsContainer{
    text-align: center;
}

.colorButtonsContainer button{

    width: 60px;
    height: 60px;
    border: none;
    margin: 20px;

}

.colorText{
    font-size: 40px;
    text-align: center;
}